@import "reset", "variables";

// Header 
header {
    display: flex;
    align-items: center ;
    height: 4rem;
    border-bottom: 1px solid #ccc;
}

header .logo {
    width: 60%;
    cursor: pointer;

    svg {
        margin: 10px 0px 0 40px;
    }
}

header .navbar {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    li {
        color: #000;
        text-align: center;
        font-family: New York Small;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 500;
        margin: 0 3%;
        letter-spacing: 2.4px;
        text-transform: uppercase;   
        cursor: pointer;    
    }

    li:first-child {
        ::after { 
            content: "";
            width: 2.5rem;
            height: 3px;
            background-color: #5F4A31;
            position: absolute;
            bottom: -25px;
            border-radius: 10px;
            left: 5.6rem;
        }
    }
}

.fa-bars { 
    display: none;
}

// Main 
.slider {
    margin: 0 0 2%;
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    img {
        width: 100%;
    }

    h1 {
        width: 45%;
        margin: 4% 24% 0;
        color: #000;
        text-align: center;
        font-family: New York Extra Large;
        font-size: 2.1rem;
        font-style: normal;
        font-weight: 900;
        line-height: 100%;
    }

    p {
        width: 35%;
        margin: 18px 24% 40px;
        text-align: center;
        font-family: SF Mono;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }
}

.line {
    background-color: #776B5D;
    width: 45%;
    height: 2px;
    margin: auto;
}

// blog 
.blog {
    width: 45%;
    margin: 24px auto 20px ;
    letter-spacing: normal;
    font-family: 'Roboto', sans-serif;
}

.blog__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
   .blog__header--user {
        display: flex;
        img {
            width: 57px;
            height: 57px;
            margin: 0 10px 0 0;
            border-radius: 50px;
        }
        .name {
            margin: 0;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.8px;
            text-transform: uppercase;
        }

        .time {
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

   }
}


.blog__socical i{
    padding: 10px 20px;
    border: 1px solid #ddd;
    font-weight: 400;
}

.fa-facebook {
    position: relative;
    right: -7px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.fa-twitter {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.blog__body {
    margin-top: 50px;
    p { 
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%
    }

    .blog__body--img {
        width: 144%;
        margin: 20px auto;

        img {
            width: 100%;
            margin: 20px 0 0 0;
            position: relative;
            right: 12%;
        }
        p {
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%;
            margin:0 0 40px 4%;
            width: 60%;
            text-align: center;
        }

    }
    ul li {
        margin: 12px 0;
    }
}

.blog__footer {
    margin: 30px 0;

    p {
        color: #0C0C0C;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }

    a {
        color: #000;
    }

    .blog__description {
        display: flex;
        img {
            width: 71.25px;
            height: 71.25px;
            flex-shrink: 0;
            border-radius: 50%;
        }

        p {
            margin-left: 20px;
            line-height: 24px;
            color: #0C0C0C;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
        }
    }
}

.line {
    img {
        position: relative;
        top: -30px;
        right: -620px;
    }
}

// acticle 
.acticles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;

    h1 { 
        width: 100%;
        color: #000;
        text-align: center;
        font-family: New York Extra Large;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .acticle { 
        max-width: 77%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(243px, 1fr)); /* Thiết lập kích thước cột tối thiểu và tối đa */
        grid-gap: 10px; 
        list-style: none;
    
        li {
            padding: 0 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 50px;
            cursor: pointer;

            img {
                width: 340px;
                height: 176px;
            }

            p {
                color: #000;
                text-align: center;
                font-family: SF Pro Display;
                font-size: 0.9rem;
                font-style: normal;
                font-weight: 500;
                line-height: 120%; /* 26.4px */
            }
        }
    }
}

// signup 
.signup {
    width: 50%;
    margin: auto;
    padding: 60px 60px;
    border: 1px solid #000;
    border-top: 8px solid;
    margin-bottom: 80px;


    h1 {
        color: #090909;
        text-align: center;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
    }

    p {
        color: #090909;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        margin-top: 20px;

    }

    .singup__info {
       
        input { 
            margin-left: 16px;
            width: 76%;;
            height: 50px;   
            color: #000;
            font-size: 16px;
            padding-left: 10px;            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        button {
            background: #000;
            color: #FFF;
            padding: 6px 8px;
            position: relative;
            left: -9px;
            top: 1px;
            border-radius: 4px;
        }
    }
}

// Footer 
footer {
    color: #FFF;
    background-color: #000;

    p {
        width: 40%;
        margin: 0 30%;
        font-size: 0.7rem;
        text-align: center;
    }
}

.title {
    font-family: SF Pro Text;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    line-height: 28px; /* 140% */
    letter-spacing: 2px;
    text-transform: uppercase;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;

    li:nth-child(even) {
        font-weight:200;
        text-transform: capitalize;
    }
}

.author {
    display: flex;
    justify-content: center;
    margin: 4rem 0 1rem 0;
    font-size: 2rem;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 1.2rem 0;   
    padding: 0;

    li {
        text-decoration : underline;
        margin: 0 0.5rem;
    }
}

.description {
    font-size: 0.5rem;
    line-height: 1rem;
    padding-bottom: 1.4rem;
}

@media only screen and (max-width: 740px) {
    header {       
       .navbar {
            display: none;
       }

        .logo svg {
            margin: 14px 0px 0 24px;
        }

       .fa-bars {
            display: block;
            position: absolute;
            right: 10px;
            font-size: 27px;
       }
    }

    .slider {
        img {
            width: 100%;
        }
        h1 { 
            width: 88%;
            margin: 4% 6% 0;
        }
        p {
            width: 88%;
            margin: 4% 6% 10%;
        }
    }

    .line {
        background-color: #000;
        width: 100%;
        height: 2px;
    }

    .blog {
        width: 94%;
    }

    .acticles {
        .acticle {
            max-width: 100%;
            width: 100%;
            height: 100%;
            padding: 0;
            
            li {
                width: 100%;
                padding: 0;
                margin-bottom: 20px;

                img {
                    width: 90%;
                    height: auto;
                }

                p {
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 900;
                    line-height: 120%;
                    margin: 20px 92px;
                }
            }
        }

    }

    .signup {
        width: 100%;
        padding: 30px 40px;

        input {
            margin: 0;
            width: 73%; 
        }
    }

    footer {
        .title {
            li {
                display: none;
            }

            li:nth-child(2) {
                display: block;
            }

            li:nth-child(3) {
                display: block;
            }

            li:nth-child(4) {
                display: block;
            }
        }

        p {
            width: 80%;
            margin: 0 10%;
            font-size: 0.6rem;
        }
    }
 }  